<div class="layout flex">
  <div class="containerIndex">
    <div>
      <div class="titleContainer">
        <a href="/" class="title">Bienvenido a El Bodegon!</a>
      </div>
    </div>
    <div class="titleContainer">
      <a href="/products/?page=1&limit=3" class="btnprod">Ver Productos</a>
    </div>
   
 
  <script src="/js/main.js"></script>

</div>